AUTHENTIK_SECRET_KEY={{ _ak_secret_key }}
AUTHENTIK_POSTGRESQL__HOST=postgres
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ _ak_db_password }}
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_BOOTSTRAP_PASSWORD={{ _ak_bootstrap_password }}
AUTHENTIK_BOOTSTRAP_TOKEN={{ _ak_bootstrap_token }}
