[Unit]
Description=Redis (Authentik cache/broker)
After=network-online.target seed-network.service
Wants=network-online.target

[Container]
Image={{ seed_redis_image }}
ContainerName=redis
Network=seed
NetworkAlias=redis.{{ seed_domain }}
Volume={{ seed_state_root }}/redis:/data
Exec=redis-server --save 60 1 --appendonly no

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
